@model CRUD.Models.Person

<div class="modal-header" style="border-radius:5px 5px 0 0; background-color:#f0ad4e; color:#ffffff;">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Edit Person</h4>
</div>
<div class="modal-body">
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="editName">Name</label>
            <span class="hidden label label-danger">Invalid name</span>
            @Html.TextBoxFor(m => m.Name,
                            new
                            {
                                @style = "max-width:100%!important;",
                                @class = "form-control",
                                @id = "editName",
                                @name = "editName",
                                @placeholder = "Full Name",
                                @maxlength = "50",
                                @Value = Model.Name,
                                required = "required"
                            }
                    )
        </div>
        <div class="form-group col-md-4">
            <label for="editGender">Gender</label>
            @Html.DropDownListFor(m => m.Gender,
                            new SelectList
                            (
                                new List<Object>
                                {
                                    new { value = "Male" , text = "Male" },
                                    new { value = "Female", text = "Female" }
                                },
                                "value",
                                "text"
                            ),
                            new
                            {
                                @style = "max-width:100%!important;",
                                @class = "form-control crsr-ptr",
                                @id = "editGender",
                                @name = "editGender",
                            }
                    )
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="editDOB">Birthday</label>
            <span class="hidden label label-danger">Invalid birthday</span>
            @Html.TextBoxFor(m => m.Birthday,
                            new
                            {
                                @class = "form-control crsr-ptr",
                                @style = "max-width:100%!important;",
                                @name = "editDOB",
                                @id = "editDOB",
                                @Value = Model.Birthday.ToString("dd/MM/yyyy"),
                                required = "required"
                            }
                    )
        </div>
        <div class="form-group col-md-4">
            <label>Age</label>
            @Html.TextBoxFor(m => m.Age,
                            new
                            {
                                @style = "max-width:100%!important;",
                                @class = "form-control",
                                @name = "editAge",
                                @id = "editAge",
                                @Value = Model.Age,
                                @readonly = "readonly"
                            }
                    )
        </div>
    </div>
    <div class="form-row" style="padding:0 15px!important;">
        <label for="editAddress">Address</label>
        <span class="hidden label label-danger">Invalid address</span>
        @Html.TextBoxFor(m => m.Address,
                        new
                        {
                            @style = "max-width:100%!important;",
                            @class = "form-control",
                            @name = "editAddress",
                            @id = "editAddress",
                            @placeholder = "House no., Street name, Compound, City",
                            @maxlength = "128",
                            @Value = Model.Address,
                            required = "required"
                        }
                )
    </div>
</div>
<div class="modal-footer">
    @Html.HiddenFor(m => m.Id, new { @Value = Model.Id })
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save Info</button>
</div>